{% extends "base.html" %} {% block content %}
<!-- fOOD MEnu Section Starts Here -->
<section class="food-menu">
  <div class="container">
    <h2 class="text-center">Food Menu</h2>
    {% for food in foods %}

    <div class="food-menu-box">
      <div class="food-menu-img">
        <img
          src="{{ food.images.url }}"
          alt="Chicke Hawain Pizza"
          class="img-responsive img-curve"
        />
      </div>

      <div class="food-menu-desc">
        <h4>{{ food.title }}</h4>
        <p class="food-price">{{ food.price }}</p>
        <p class="food-detail">{{ food.description }}</p>
        <br />

        <a href="#" class="btn btn-primary">Order Now</a>
      </div>
    </div>
    {% endfor %}

    <div class="clearfix"></div>
  </div>
</section>
<!-- fOOD Menu Section Ends Here -->
{% endblock content %}
